<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style>
    body {
        background-color: rgb(255, 226, 95);
        font-family:Calibri;
        text-align: center;
    }
    
    article {
        font-size: 15pt;
    }

</style>
<body>

    <h1>Hello my name is {{ name }}</h1>
    <img src = "https://i.imgur.com/EuL64gi.png" style = "margin-bottom: 25px; height: 250px; width: 180px;">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>My hobby is {{ hobby }}</article>
    <article>I study at {{ edu }}</article>
	
	<h1>Hello my name is {{ friend1_name }}</h1>
    <img src="https://lh5.googleusercontent.com/Ou8nocw8hpd6ZyG4dqQw9wJ3zby5kj6gb0XAoRgg_DQ0u_ms-fVcKpRfBL8r2h5TleNDc01dDu_x_cfBKGhD=w1920-h937", width="150">
    <article>NPM : {{ friend1_npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Currently a student at {{ edu }}</article>
	<article>Hobby : {{ friend1_hobby }}</article>
    <article>Description : {{ friend1_desc }}</article>
	
	<h1>Hello my name is {{ friend2_name }}</h1>
    <img src="https://i.imgur.com/NuAsgZI.jpg", width="150">
    <article>NPM : {{ friend2_npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Student at {{ edu }}</article>
	<article>Hobbies : {{ friend2_hobby }}</article>
    <article>Description : {{ friend2_desc }}</article>

	
</body>
</html>
